//==================================================
// Base CSS
//==================================================
body {
    background: #F8F8F8;
    font-family: 'Roboto', sans-serif;
}
.container {
    width: 90%;
    margin: 0 auto;
}
a {
    font-family: "Roboto";
    font-weight: normal;
    font-style: normal;
    font-size: 12px;
    // line-height: 36px;    
    letter-spacing: 0.01em;    
    color: #333333;

    text-decoration: none;
    padding-bottom: 5px;
    border-bottom: 3px solid #F8ECCB;
}

.center {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    @include screen('desktop') {
        justify-content: flex-start;
    }  
}

.page_title {
    margin-top: 100px;

    font-family: 'Archia-regular';
    font-style: normal;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.05em;        
    color: #333333;

    display: flex;
    align-items: center;
    justify-content: center;

    @include screen('desktop') {
        font-size: 64px;
        font-weight: 600;
        line-height: 80px;

        padding: 0 100px;

        justify-content: flex-start;
    }

}

// bmsm page


.bmsm_link {
    font-family: 'Archia-bold';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: #333333;
    line-height: 28px;
    letter-spacing: -0.02em;
    text-transform: capitalize;
}
.fa-plus {
    color: #E55D2D;
}