.contact_us_page {

    .top {

        height: 60vh;
        min-height: 60vh;
            
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .contact_us {
        margin: -400px 0 100px 0;
    }
    
}
