.slider_section {

    padding-left: 11.5%;

    &__title {
        font-family: "Archia-bold";
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: 48px;        
        letter-spacing: -0.03em;        
        color: #333333;

    }
    &__description {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 32px;        
        letter-spacing: 0.02em;        
        color: #4F4F4F;
        margin: 45px 0;

        @include screen('desktop') {
            width: 30%;
        }
    }

    .sliders {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch;
        
        position: relative;

        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none; 
        &::-webkit-scrollbar {
            display: none;
        }
    }
 

    .slider {
        width: 300px;
        height: 450px;
        flex-shrink: 0;
        margin-right: 15px;
        box-shadow: 0px 16px 32px rgba(120, 108, 132, 0.05);

        display: flex;
        padding: 35px;
        align-items: flex-end;

        
        &__title {
            font-family: "Archia-bold";
            letter-spacing: -0.02em;            
            margin-bottom: 30px;
            font-style: normal;
            font-weight: bold;
            line-height: 28px;            
            color: #FFFFFF;
            font-size: 24px;
            width: 80%;
        }
        &__link {
            position: absolute;
            top: 50%;
            right: 1px;
        }
    }
    .slider_one {
        height: 450px;
        background: url("../images/slider_one.svg") no-repeat center center fixed;
        -webkit-background-size: 100%;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .slider_two {
        background: url("../images/slider_two.svg") no-repeat center center fixed;
        -webkit-background-size: 100%;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;        
    }
    .slider_three {
        background: url("../images/slider_three.svg") no-repeat center center fixed;
        -webkit-background-size: 100%;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;        
    }
    .slider_four {
        background: url("../images/slider_four.svg") no-repeat center center fixed;
        -webkit-background-size: 100%;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;        
    }
    .slider_five {
        background: url("../images/slider_one.svg") no-repeat center center fixed;
        -webkit-background-size: 100%;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;        
    }
    .slider_six {
        background: url("../images/slider_two.svg") no-repeat center center fixed;
        -webkit-background-size: 100%;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;        
    }
    .slider_seven {
        background: url("../images/slider_three.svg") no-repeat center center fixed;
        -webkit-background-size: 100%;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;        
    }
    .slider_eight {
        background: url("../images/slider_four.svg") no-repeat center center fixed;
        -webkit-background-size: 100%;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;         
    }
}