.work {

    .top {

        height: 60vh;
        min-height: 60vh;
            
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .projects {
        margin: -70px 0 100px 0;
    }


}
